

<div class="outer">
    <div class="inner">
        <div class="row-1">
            <div class="column cl-1">
                <h2>avo</h2>
                <p>Far far away, behind the word mountains, far from the countries.</p>
                <span class="social-icons" data-aos="fade-up" data-aos-duration="2000">
                    <img src="/assets/icons/twiter.png" alt="">
                    <img src="/assets/icons/fb.png"  alt="">
                    <img src="/assets/icons/instra.png"  alt="">
                </span>
            
            </div>
           
            <div class="column">
                <h2>Community</h2>
                <ul>
                    <li>
                        <span class="material-symbols-outlined">
                        chevron_right
                        </span><a href="#">Projects</a></li>
                    <li><span class="material-symbols-outlined">
                        chevron_right
                        </span><a href="#">Team</a></li>
                    <li><span class="material-symbols-outlined">
                        chevron_right
                        </span><a href="#">Reviews</a></li>
                    <li><span class="material-symbols-outlined">
                        chevron_right
                        </span><a href="#">FAQs</a></li>
                </ul>
                
            </div>
            <div class="column">
                <h2>About Us</h2>
                <ul>
                    <li><span class="material-symbols-outlined">
                        chevron_right
                        </span><a href="#">Our story</a></li>
                    <li><span class="material-symbols-outlined">
                        chevron_right
                        </span><a href="#">Meet the team</a></li>
                    <li><span class="material-symbols-outlined">
                        chevron_right
                        </span><a href="#">Careers</a></li>
                   
                </ul>
            </div>
            <div class="column">
                <h2>Company</h2>
                <ul>
                    <li><span class="material-symbols-outlined">
                        chevron_right
                        </span><a href="#">About us</a></li>
                    <li><span class="material-symbols-outlined">
                        chevron_right
                        </span><a href="#">Press</a></li>
                    <li><span class="material-symbols-outlined">
                        chevron_right
                        </span><a href="#">Contact</a></li>
                    <li><span class="material-symbols-outlined">
                        chevron_right
                        </span><a href="#">Careers</a></li>
                </ul>
            </div>
            <div class="column cl-5">
                <h2>Have a Questions?</h2>
                <ul>
                    <li><span class="material-symbols-outlined">
                        map
                        </span>&nbsp; &nbsp; &nbsp;&nbsp;<a href="#">203 Fake St. Mountain View, San Francisco, California, USA</a></li>
                    <li><span class="material-symbols-outlined">
                        call
                        </span>&nbsp; &nbsp; &nbsp;&nbsp;<a href="#">+2 392 3929 210</a></li>
                    <li><span class="material-symbols-outlined">
                        mail
                        </span>&nbsp; &nbsp; &nbsp;&nbsp;<a href="#">info@yourdomain.com</a></li>
                </ul>
            </div>
        </div>
        <div class="row-2 " >
            <span>
                Copyright © 2023 All rights reserved | This template is made with
                <span class="material-symbols-outlined" style="vertical-align: middle;">
                  favorite
                </span>
                by <span class="colorolib">Colorlib</span>
              </span>
              
        </div>
    </div>
</div>