<div class="monila-outer">
    <div class="monila-inner">
      <h2 data-aos="fade-up" data-aos-duration="3000">CLIENTS SAY ABOUT US?</h2>
   
      <div class="card-line">
        <!-- <swiper-container class="custom-swiper mySwiper"
        loop = "true"
        pagination = "true"
        > -->
        
        <!-- <swiper-slide> -->
        <div class="card-outer">
            <div class="card-inner" data-aos="fade-up" data-aos-duration="3000">
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <span class="quote"></span>
                <div class="charactor">
                  <div class="img">  <img src="./assets/images/person_1.jpg" alt="person_1" style="border-radius: 50%; width: 80px;"></div>
                  <div class="content">
                    <p>Roger Scott</p>
                    <span>Marketing Manager</span>
                  </div>
                </div>
              </div>
          </div>
        <!-- </swiper-slide> -->
   


        <!-- <swiper-slide> -->
        <div class="card-outer">
            <div class="card-inner" data-aos="fade-up" data-aos-duration="3000">
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <span class="quote"></span>
                <div class="charactor">
                  <div class="img">  <img src="./assets/images/person_2.jpg" alt="person_1" style="border-radius: 50%; width: 80px;"></div>
                  <div class="content">
                    <p>Roger Scott</p>
                    <span>Marketing Manager</span>
                  </div>
                </div>
              </div>
          </div>
        <!-- </swiper-slide> -->
   
  
 
        <!-- <swiper-slide> -->
        <div class="card-outer">
            <div class="card-inner" data-aos="fade-up" data-aos-duration="3000">
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <span class="quote"></span>
                <div class="charactor">
                  <div class="img">  <img src="./assets/images/person_1.jpg" alt="person_3" style="border-radius: 50%; width: 80px;"></div>
                  <div class="content">
                    <p>Roger Scott</p>
                    <span>Marketing Manager</span>
                  </div>
                </div>
              </div>
          </div>
        <!-- </swiper-slide> -->
  
    

        <!-- <swiper-slide> -->
        <div class="card-outer">
            <div class="card-inner">
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <span class="quote"></span>
                <div class="charactor">
                  <div class="img"><img src="" alt=""></div>
                  <div class="content">
                    <p>Roger Scott</p>
                    <span>Marketing Manager</span>
                  </div>
                </div>
              </div>
          </div>
        <!-- </swiper-slide> -->



        <!-- <swiper-slide> -->
        <div class="card-outer">
            <div class="card-inner">
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <span class="quote"></span>
                <div class="charactor">
                  <div class="img"><img src="" alt=""></div>
                  <div class="content">
                    <p>Roger Scott</p>
                    <span>Marketing Manager</span>
                  </div>
                </div>
              </div>
          </div>
        <!-- </swiper-slide>
        </swiper-container> -->
    </div>
   
    </div>

  </div>
  