<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>

  <!-- <app-swiper></app-swiper> -->
  <!-- <app-card-slider></app-card-slider> -->
  <app-header></app-header>
  <app-main-section></app-main-section>
  <app-aboutus-section></app-aboutus-section>
  <app-our-works-section></app-our-works-section>
  <app-testimonial></app-testimonial>
  <app-get-started></app-get-started>
  <app-recent-blog></app-recent-blog>
  <app-fotter></app-fotter>
</body>
</html>