<div class="monila-outer">
    <div class="monila-inner">
      <h2>CLIENTS SAY ABOUT US?</h2>
   
      <div class="card-line">
        <swiper-container class="custom-swiper mySwiper"
        loop = "true"
        pagination = "true"
        >
        <swiper-wrapper>
        <swiper-slide>
        <div class="card-outer">
            <div class="card-inner">
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <span class="quote"></span>
                <div class="charactor">
                  <div class="img"><img src="" alt=""></div>
                  <div class="content">
                    <p>Roger Scott</p>
                    <span>Marketing Manager</span>
                  </div>
                </div>
              </div>
          </div>
        </swiper-slide>
    </swiper-wrapper>

    <swiper-wrapper>
        <swiper-slide>
        <div class="card-outer">
            <div class="card-inner">
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <span class="quote"></span>
                <div class="charactor">
                  <div class="img"><img src="" alt=""></div>
                  <div class="content">
                    <p>Roger Scott</p>
                    <span>Marketing Manager</span>
                  </div>
                </div>
              </div>
          </div>
        </swiper-slide>
    </swiper-wrapper>

    <swiper-wrapper>
        <swiper-slide>
        <div class="card-outer">
            <div class="card-inner">
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <span class="quote"></span>
                <div class="charactor">
                  <div class="img"><img src="" alt=""></div>
                  <div class="content">
                    <p>Roger Scott</p>
                    <span>Marketing Manager</span>
                  </div>
                </div>
              </div>
          </div>
        </swiper-slide>
    </swiper-wrapper>


        <swiper-slide>
        <div class="card-outer">
            <div class="card-inner">
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <span class="quote"></span>
                <div class="charactor">
                  <div class="img"><img src="" alt=""></div>
                  <div class="content">
                    <p>Roger Scott</p>
                    <span>Marketing Manager</span>
                  </div>
                </div>
              </div>
          </div>
        </swiper-slide>



        <swiper-slide>
        <div class="card-outer">
            <div class="card-inner">
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <span class="quote"></span>
                <div class="charactor">
                  <div class="img"><img src="" alt=""></div>
                  <div class="content">
                    <p>Roger Scott</p>
                    <span>Marketing Manager</span>
                  </div>
                </div>
              </div>
          </div>
        </swiper-slide>
  

        </swiper-container>
    </div>
   
    </div>

  </div>
  