<div class="outer">
   <div class="inner">
   <div class="content">
    <span data-aos="fade-up" data-aos-duration="3000">Get Started</span>
    <h3 data-aos="fade-up" data-aos-duration="3000">Fill in the brief and get the project estimate</h3>
    <p data-aos="fade-up" data-aos-duration="3000"> Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
    <button data-aos="fade-up" data-aos-duration="3000">Get Started</button>
   </div>
   </div>
</div>
