<div class="work-section-outer">
    <div class="work-section-inner " >
        <h2 data-aos="fade-up" data-aos-duration="3000">Our Works</h2>
        <div class="row-one row">
            <div class="column-one column col-1">
                <img src="/assets/images/work-1.jpg" alt="image">
            </div>
            <div class="column-two column col-2" data-aos="fade-up" data-aos-duration="3000">
                <span class="type-of-possition">Web Design</span>
                <h2><a href="#">Cassette tape</a></h2>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
               <div class="charactor">
                    <div class="img">
                        <img src="/assets/images/person_1.jpg" alt="person_1" style="border-radius: 50%;">
                    </div>
                    <div class="content">
                        <h4>Jamie Jonson</h4>
                        <span class="avo">avo.com</span>
                    </div>
               </div>
                <p><a href="#" class="btn">View Portfolio</a></p>
            </div>
        </div>
        <!-- row tow---------------------------- -->
        <div class="row-two row">
            <div class="column-two column col-4">
                <img src="/assets/images/work-2.jpg" alt="image">
            </div>

            <div class="r2-column-one column col-3" data-aos="fade-up" data-aos-duration="3000">
                <span class="type-of-possition">Web Design</span>
                <h2><a href="#">Cassette tape</a></h2>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
               <div class="charactor">
                    <div class="img">
                        <img src="/assets/images/person_3.jpg" alt="person_1" style="border-radius: 50%;">
                    </div>
                    <div class="content">
                        <h4>Jamie Jonson</h4>
                        <span class="avo">avo.com</span>
                    </div>
               </div>
                <p><a href="#" class="btn">View Portfolio</a></p>
            </div>
          
        </div>

<!-- row three------------------------------------------------------------------ -->
        <div class="row-three row">
            <div class="column-one column col-5">
                <img src="/assets/images/work-3.jpg" alt="image">
            </div>
            <div class="column-two column col-6" data-aos="fade-up" data-aos-duration="3000">
                <span class="type-of-possition">Web Design</span>
                <h2><a href="#">Cassette tape</a></h2>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
               <div class="charactor">
                    <div class="img">
                        <img src="/assets/images/person_2.jpg" alt="person_1" style="border-radius: 50%;">
                    </div>
                    <div class="content">
                        <h4>Jamie Jonson</h4>
                        <span class="avo">avo.com</span>
                    </div>
               </div>
                <p><a href="#" class="btn">View Portfolio</a></p>
            </div>
        </div>

<!-- four===================================================================== -->
        <div class="row-four row">
            <div class="column-two column col-8">
                <img src="/assets/images/work-4.jpg" alt="image">
            </div>

            <div class="r2-column-one column col-7" data-aos="fade-up" data-aos-duration="3000">
                <span class="type-of-possition">Web Design</span>
                <h2><a href="#">Cassette tape</a></h2>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
               <div class="charactor">
                    <div class="img">
                        <img src="/assets/images/person_3.jpg" alt="person_1" style="border-radius: 50%;">
                    </div>
                    <div class="content">
                        <h4>Jamie Jonson</h4>
                        <span class="avo">avo.com</span>
                    </div>
               </div>
                <p><a href="#" class="btn">View Portfolio</a></p>
            </div>
           
        </div>

<!-- five-------------------------------------------------------------------------- -->
        <div class="row-five row">
            <div class="column-one column col-9">
                <img src="/assets/images/work-5.jpg" alt="image">
            </div>
            <div class="column-two column col-10" data-aos="fade-up" data-aos-duration="3000">
                <span class="type-of-possition">Web Design</span>
                <h2><a href="#">Cassette tape</a></h2>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
               <div class="charactor">
                    <div class="img">
                        <img src="/assets/images/person_2.jpg" alt="person_1" style="border-radius: 50%;">
                    </div>
                    <div class="content">
                        <h4>Jamie Jonson</h4>
                        <span class="avo">avo.com</span>
                    </div>
               </div>
                <p><a href="#" class="btn">View Portfolio</a></p>
            </div>
        </div>

<!-- siz-------------------------------------------------------------------------------- -->
        <div class="row-six  row">
            <div class="column-two column col-12">
                <img src="/assets/images/work-6.jpg" alt="image">
            </div>
            
            <div class="r2-column-one column col-11" data-aos="fade-up" data-aos-duration="3000">
                <span class="type-of-possition">Web Design</span>
                <h2><a href="#">Cassette tape</a></h2>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
               <div class="charactor">
                    <div class="img">
                        <img src="/assets/images/person_1.jpg" alt="person_6" style="border-radius: 50%;">
                    </div>
                    <div class="content">
                        <h4>Jamie Jonson</h4>
                        <span class="avo">avo.com</span>
                    </div>
               </div>
                <p><a href="#" class="btn">View Portfolio</a></p>
            </div>
          
        </div>
    </div>
</div>
